(1). Write a function that returns the lesser of two given numbers if both numbers are even,

but returns the greater if one or both numbers are odd

less_of_two_evens(4,8) --> 4

less_of_two_evens(6,9) --> 9


## Approach

def....

Ist Step
taken x and y. Will Check if x is even and y is also even....
if both are even. Check if x < y print x else print y

IInd Step
if x is not even or if y is not even then check if x > y print x else print y

In [6]:
(5%2==0) or (6%2==0) # Condition that will be used...

True

In [7]:
True or False

True

In [9]:
# returns the lesser of two given numbers if both numbers are even,
# but returns the greater if one or both numbers are odd

# Take Two Nos and Find if both the nos are even
(6%2==0) and (16%2==0)

True

In [21]:
a = 10
b = 15

In [14]:
if (a%2==0) and (b%2==0): # Check if both the nos are even...
    if a<b:
        print(a) # Return the Lesser of the Two
    else:
        print(b)

16

In [24]:
if (a%2==0) or (b%2==0): # Check if both the nos are even...
    if a>b:
        print(a) # Return the Lesser of the Two
    else:
        print(b)

15

In [25]:
False or False

False

In [27]:
def myfunc(a,b):
    if (a%2==0) and (b%2==0): # Check if both the nos are even...
        if a<b:
            print(a) # Return the Lesser of the Two
        else:
            print(b)
    elif (a%2==0) or (b%2==0): # Check if both the nos are even...
        if a>b:
            print(a) # Return the Lesser of the Two
        else:
            print(b)

In [37]:
# if elif and if else | Else if 

if (3<4): # True
    print("Three is Less than 4")
elif (5<2): # False
    print("Five is Greater than 02")
elif (0<1): #True
    print("Zero is More Powerful")
else:
    print("Enter the Nos Back Again")

Three is Less than 4

# Using Print and Return

1. When using if else conditions, use print if you want to print a message
2. However, when you want to return some text message or nos in Function...Use return

In [50]:
# Lets Create the Function that returns the lesser of two given numbers 
# if both numbers are even but returns the greater if one or both numbers are odd
def less_of_two_evens(a, b):
    if (a%2==0) and (b%2==0): # Check if both nos are even
        if (a<b):
            return(a)
        else:
            return(b)
    elif (a%2!=0) or (b%2!=0): # Either of them are Even....
        if (a>b):
            return (a)
        else:
            return (b)

In [54]:
less_of_two_evens(30,65)

65

(2). Write a function that checks whether a number is in a given range (inclusive of high and low)

 i.e : if the number is 5 our high is 10 and low is 2 then output to be my number is within the range.

In [89]:
# Function that returns the Max Value included

def include_range(start, end): # this func include the max value in range
    return(range(start, end+1))

def check_nos(m):
    start = int(input("Enter the Lowest Range "))
    end = int(input("Enter the Highest Range ")) 
    if m in include_range(start,end): # Linking to the func..above..
        return("No Is Included")
    else:
        return("No Out of Range")

In [92]:
check_nos(34)

Enter the Lowest Range 1
Enter the Highest Range 50

'No Is Included'

In [67]:
4 in list(include_range(0,10))

True

(3).total: Given two integers, return True if the sum of the integers is 20 
or if one of the integers is 20. If not, return False

total(20,10) --> True

total(12,8) --> True

total(2,3) --> False

You will take a & b

Return True if a + b == 20

In [107]:
def nos():
    a = int(input("Enter the First No "))
    b = int(input("Enter the Second No "))
    if (a+b==20):
        return(True)
    elif (a==20) | (b==20):
        return(True)
    else:
        return(False)

In [111]:
nos()

Enter the First No 20
Enter the Second No 10

True

(4).Educative_Innovative: Write a function takes a two-word string and returns True if both words begin with same letter.

Educative_Innovative('Great Learning') --> False

Educative_Innovative('Great Greater') --> True

In [113]:
abc = "Mukul Singh".split()

In [114]:
abc

['Mukul', 'Singh']

In [121]:
abc[0][0]==abc[1][0]

False

In [120]:
abc[1][0]

'S'

In [123]:
def Educative_Innovative():
    string = input("Enter the String ")
    m = string.split()
    if m[0][0]==m[1][0]:
        return("First Letters are Same")
    else:
        return("The First Letters of the String Do Not Match")

In [126]:
Educative_Innovative()

Enter the String Python PIP Install

'First Letters are Same'

In [128]:
import pandas as pd
import numpy as np
import seaborn as sns # Data Visualization Package in Python

In [130]:
# Tips is an Inbuilt Dataset in Seaborn Library
tips = sns.load_dataset("tips")

In [131]:
# Check the Basics about the Dataset
tips.shape # Rows and Columns

(244, 7)

In [132]:
# Check the Column Names
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [133]:
# Check the Info about the Dataset
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [134]:
# Preview the Dataset
tips.head() # Show the First 05 Rows of the Dataset

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [145]:
# Change the Column Names
# One way - overwrite the whole data frame with new colnames
tips = tips.rename(columns={"total_bill": "My Bill", "size":"People Visited"})

In [148]:
# Another Way - using inplace = True
tips.rename(columns={"sex":"Gender", "day": "Weekdays"}, inplace=True)

# Inplace Attribute

In [149]:
tips.head()

   My Bill   tip  Gender smoker Weekdays    time  People Visited
0    16.99  1.01  Female     No      Sun  Dinner               2
1    10.34  1.66    Male     No      Sun  Dinner               3
2    21.01  3.50    Male     No      Sun  Dinner               3
3    23.68  3.31    Male     No      Sun  Dinner               2
4    24.59  3.61  Female     No      Sun  Dinner               4

In [150]:
# Drop and Pop
newtips = tips

In [165]:
# Drop Smoker
tips.pop("Gender")

# Drop is meant for deleting the col temporarily...
# Two Axis: Row Axis and Second is Col Axis
# If Axis =0, it means Delete Row
# If Axis =1, it means delete Col

0      Female
1        Male
2        Male
3        Male
4      Female
5        Male
6        Male
7        Male
8        Male
9        Male
10       Male
11     Female
12       Male
13       Male
14     Female
15       Male
16     Female
17       Male
18     Female
19       Male
20       Male
21     Female
22     Female
23       Male
24       Male
25       Male
26       Male
27       Male
28       Male
29     Female
        ...
214    Female
215    Female
216      Male
217      Male
218      Male
219    Female
220      Male
221    Female
222      Male
223    Female
224      Male
225    Female
226    Female
227      Male
228      Male
229    Female
230      Male
231      Male
232      Male
233      Male
234      Male
235      Male
236      Male
237      Male
238    Female
239      Male
240    Female
241      Male
242      Male
243    Female
Name: Gender, Length: 244, dtype: category
Categories (2, object): [Male, Female]

In [170]:
# Pop Smoker
tips.pop("Gender")
# Pop is meant for deleting the col permanently...
# Print that col which is being deleted

In [168]:
del(tips["smoker"]) # Delete works like pop....

In [169]:
tips.head()

   My Bill Weekdays    time  People Visited
0    16.99      Sun  Dinner               2
1    10.34      Sun  Dinner               3
2    21.01      Sun  Dinner               3
3    23.68      Sun  Dinner               2
4    24.59      Sun  Dinner               4

# Difference between POP, DEL and Drop

Drop deletes the column temporarily whereas POP deletes the column at Specific Index and returns it

Where as del() removes an item at specific index....